label {
    display: block;
    margin-top: 10px;
}

.card-container.card {
    max-width: 400px !important;
    padding: 40px 40px;
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.error-feedback {
    color: red;
}

#textboxid {
    height: 200px;
    font-size: 14pt;
}

.btn:hover {
    color:#0e0f0f;
    background-color: #76575727;
    border-color: #968080ab;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(94, 74, 44, 0.315);
}

.form-control:focus {
    color: #101213;
    background-color: #fff;
    border-color: #968080ab;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(94, 74, 44, 0.315);
}

label {
    color: #f03f12;
}

input[type="checkbox"] {
    filter: sepia(90%);
    -webkit-filter: sepia(90%);
    -moz-filter: sepia(90%);
}